.fullscreen {
  height: 50vh;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullscreen-header {
  display: flex;
  flex-direction: column;
}

.fullscreen-header p, .fullscreen-header h1, .fullscreen-header h2 {
  margin: 0;
}

.fullscreen-header p {
  padding-bottom: 10px;
}

.fullscreen-header h1 {
  padding-bottom: 10px;
}

.fullscreen-header h2 {
  padding-bottom: 10px;
}

.resume {
  text-decoration: none;
  background-color: #332E3C;
  width: max-content;
  padding: 1em 2em;
  color: #EFF2EF;
  border: none;
  transition: all 500ms ease-in-out;
}

.resume:hover, .resume:focus {
  cursor: pointer;
  background: linear-gradient(90deg, #332E3C, #3587A4);
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Desktop Responsive */
@media all and (min-width: 700px) {
  .fullscreen-header h2 {
    padding-bottom: 20px;
  }
}