.fullscreen {
  background-image: url('/src/components/images/watercolor2.png');
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen h1, .fullscreen h2 {
  background-color: rgba(185,191,4, 0.9);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 5px;
  color: #000;
}