@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat&display=swap');


/* App Sections Styling */

.app-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5em;
  width: 100%;
  background-color: #242323;
  position: fixed;
  z-index: 1;
}

.app-main {
  padding-top: 0;
}

.app-footer {
  padding: 15px;
}

/* General Styling */

h1, h2, h3, h4 {
  font-family: 'Electrolize', sans-serif;
}

p, a, button {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

label {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 28px;
  padding-bottom: 4px;
  border-bottom: 6px dotted #3699AC;
}

h4 {
  font-size: 24px;
}

p, h3, h4, label {
  color:#f8f8ff;
}

/* Rainbow Effect */

.rainbow {
  background: linear-gradient(to right, #45c5de, #396B6A , #7B8620, #B9BF04);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 10s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

/* Responsive / Desktop */

@media all and (min-width: 700px) {
  .app-main {
    width: 75%;
    margin: 0 auto;
  }
}