@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Text Styling */

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif;
}

p, button, input, label, a {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 36px;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

h4 {
  font-size: 28px;
}

.header-p {
  font-size: 14px;
}

/* Desktop Responsive */

@media all and (min-width: 700px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 28px;
  }

  .header-p {
    font-size: 16px;
  }
}