.skills {
  padding: 55px 15px 0 15px
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 10px;
  background: rgba( 185, 191, 4, 0.90 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.skills-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-container div p {
  color: #000;
  text-align: center;
}

.skill-icon {
  padding: 5px;
  font-size: 50px;
  text-align: center;
}