.single-project {
  padding: 20px 20px;
}

.image-container {
  width: 80%;
  margin: 0 auto;
}

.proj-image {
  width: 100%;
  box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.75);
}

.project-title {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.single-project p {
  line-height: 1.5;
  display: inline;
}

.ext-link {
  cursor: pointer;
}

/* Responsive / Desktop */

@media all and (min-width: 700px) {
  .single-project {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}