.project-links {
  background: rgba( 185, 191, 4, 0.90 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
}

.project-links li {
  padding-bottom: 5px;
}

.project-links li:last-child {
  padding-bottom: 0;
}


.project-links li a {
  color: #000;
  text-decoration: none;
}

.proj-image {
  width: 100%;
}