.single-project {
  padding: 20px 20px;
}

.image-container {
  width: 80%;
  margin: 0 auto;
}

.proj-image {
  width: 100%;
  box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.75);
}

.project-title {
  font-weight: 300;
  margin: 0 0 20px 0;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.single-project p {
  line-height: 1.5;
}

.project-tech {
  font-style: italic;
  font-weight: 300;
}

.ext-link {
  font-size: 1em;
  cursor: pointer;
}

.title-link {
  color: #000;
  text-decoration: none;
}

.title-link:hover, .title-link:focus {
  cursor: pointer;
  text-decoration: underline;
  color: #3587A4;
}

/* Responsive / Desktop */

@media all and (min-width: 850px) {
  .project {
    width: 75%;
    margin: 0 auto;
  }

  .single-project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .project-content {
    padding-left: 40px;
  }

  .image-container {
    width: 100%;
  }

  .project-title {
    padding-bottom: 0;
    padding-top: 0;
    /* align-self: center; */
  }

  .single-project p {
    margin: 0;
    align-self: start;
    padding-bottom: 5px;
  }
}