.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

.navbar-links li {
  padding-right: 10px;
}

.navbar-links li:last-child {
  padding-right: 0;
}

.navbar-links li a {
  color: #3699AC;
  text-decoration: none;
}