.footer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #332E3C;
}

.footer-icon {
  font-size: 30px;
  padding-right: 20px;
  color: #332E3C;
  cursor: pointer;
}

.footer-icon:last-child {
  padding-right: 0;
}

.footer-icon:hover, .footer-icon:focus {
  color: #3587A4;
}

.social-links {
  padding: 10px;
}