.footer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #3699AC;
}

.footer-icon {
  font-size: 30px;
  padding-right: 20px;
  color: #3699AC;
}

.footer-icon:last-child {
  padding-right: 0;
}